<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container col-md-*">
            <h1>DVD Results</h1>
            
            <table class="table table-striped">
                <tr>
                    <th>Movie Title</th>
                    <th>Award</th>
                </tr>
                <% for(var i=0; i<dvds.length; i++){ %>
                <tr>
                    <td>
                        <%= dvds[i].title %>
                    </td>
                    <td>
                        <%= dvds[i].award %>
                    </td>
                </tr>
                <% } %>
            </table>

        </div>

    </body>