<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>
    <body>
        <div id="searchbox" class="container">
            <h1>DVD Search</h1>
            <br>
            <form action="/dvds" class="col-md-*">
                <div class="form-group">
                    <label>DVD Title: </label>
                    <input name="title" type="text" class="form-control"/>
                    <br>
                    <label>Award: </label>
                    <select name="award" class="form-control">
                        <option value="oscar">Oscar</option>
                        <option value="grammy">Grammy</option>
                    </select>
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </body>
